body {
  background-color: $bg-blue;
}

.page {
  &__header {
    margin: 3rem auto;
    text-align: center;
  }

  &__refresh__button {
    border: none;
    background-color: $clr-green-light;
    border-radius: $round-border;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
