.categories {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2rem;
  }

  &__ctg {
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
  }

  &__btn {
    background-color: $clr-white;
    transition: all 0.3s;

    &--selected,
    &:hover {
      background-color: $clr-gold;
    }
  }
}
